content{
    max-width: 1600px;
    margin: 0 auto;
    
}
#background{
height: 725px;
}   


body {
    background-color: #A4EAFF ; 
    
}
header {
    background-color:#8DE5FF;
}
nav a:hover {
    background-color: black; 
}
nav a:hover {
    background-color: white;
    color: white;
}    
.icon {
    width: 80px;
}

.logo{
    max-width: 80px;
}

main section{
    text-align: center;
}

#hero{
    max-width: 750px;
    margin:  0 auto;

}

#hero-img{
    max-width: 750px;
}

.message{
    width : auto;
    height : 500px;
    background-color: palegoldenrod;
}

.msg{
    background-color: #396E94;
}

a {
    text-align: center;
    color: #632c2c;
    text-decoration: none;
} 

footer p {
    font-size: 2em;
}  

footer p a:hover {
    text-decoration: none;
}  

header, footer{
    background-color: #396E94;
}