@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
content{
    max-width: 1600px;
    margin: 0 auto;
    
}
#background{
height: 725px;
}   


body {
    background-color: #A4EAFF ;
    margin: 0;
    padding: 0;
}  
h2{
    margin:0;
}   
.book{
    
    border-radius: 5px;
    padding:320px;
    margin-top: 50px;
    

}
.join{
    line-height: 1.5em;
    border-radius: 5px;
    padding: 30px;
    margin-top: 50px;
}
.card-img{
    border: 10px solid #632c2c;
}

main section img {
    box-sizing: border-box;
}
.river-card{
    margin: 200px;
}


.camping-card{
    margin: 200px;
}

.rapids-card{
    margin:200px 0;
}
header {
    background-color:#8DE5FF;
    font-family:Lato, 'Times New Roman', Times, serif, sans-serif; 
    
}
nav{
    background-color:#8DE5FF; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
nav a{
 flex: 25%;
 padding-top:5px;
 padding: 35px;
}
h4{
    text-align: center;
}
nav a:hover {
    background-color: white;
    color: white;
}    
.icon {
    width: 80px;
}

.logo{
    max-width: 80px;
}

main section{
    text-align: center;
}

#hero{
    max-width: 750px;
    margin:  0 auto;

}
.home-title {
    font-family: arial, verdana, tahoma;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}
#hero-img{
    max-width: 750px;
    padding-right: 100px;
}

.message{
    width : auto;
    height : 500px;
    background-color: palegoldenrod;
}

.msg{
    font-size: 2em;
    line-height: 1.5em;
    padding: 35px;
    background-color: #396E94;
    

    

}
.msg p{
    padding-bottom: 15px;
}

a {
    text-align: center;
    color: #632c2c;
    text-decoration: none;
} 

footer{
    margin-top:200px;
    padding: 20px 50px;
}

footer .social img{
    padding-top: 15px;
}
footer p {
    font-size: 2em;
}  

footer p a:hover {
    text-decoration: none;
}  

header, footer{
    background-color: #396E94;
}